.water-parameter {
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.background-image {
    background-image: url(https://www.shutterstock.com/image-photo/koi-crystal-waters-showcases-enchanting-600nw-2500920849.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.parameter-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.parameter-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    flex: 1 1 300px;
    border: 2px solid transparent; /* Viền mặc định */
}

.parameter-card[style*="borderColor: orange"] {
    border-color: orange; /* Viền màu cam cho ngoài giới hạn */
}

.parameter-card[style*="borderColor: green"] {
    border-color: green; /* Viền màu xanh cho trong giới hạn */
}

.add-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
}